div
    justify-content: space-between
    border: 1px solid black
    border-radius: 10px
    background: radial-gradient(circle, lightgreen, blue)
    padding: 10px
    margin-bottom: 10px

button
    background-color: #4CAF50
    color: white
    padding: 15px 30px
    font-size: 16px
    border: none
    border-radius: 5px
    cursor: pointer
    transition: background-color 0.3s
    margin-left: 10px
    margin-right: 10px