table 
    width: 100%
    border-collapse: collapse
    border-spacing: 0
    background-color: lightgreen
    border: 1px solid #ddd
    margin: 0 auto
    font-family: Arial, sans-serif

td 
  border: 1px solid #ddd
  padding: 8px
  text-align: left

tr:nth-child(even) 
  background-color: green


