.scorecard
    font-size: 2em
    justify-content: space-between
    border: 1px solid black
    background-color: lightgreen
    padding: 10px
p
    color: blue

button
    background-color: #4CAF50
    color: white
    padding: 15px 30px
    font-size: 16px
    border: none
    border-radius: 5px
    cursor: pointer
    transition: background-color 0.3s

